/* Body*/

#bloc_page
{
    width: 1200;
    margin: auto;
}
body, html
{
    font-family: 'Raleway', sans-serif;
    margin: 0;

}

.gris
{
    background-color:#F2F2F2;
}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.etoile_grise
{
    color:#F2F2F2;
}

.etoile_bleue
{
    color: #0065FC;
}

/* Header*/
.logo
{
    position: absolute;
}

header
{
    position: relative;
    margin: 15px;
}

header img
{
    height: 50px;
}
nav
{
    width:100%;
}
nav ul
{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    
}

nav li
{
    padding: 20px;   
}

nav a
{
    font-weight: 400;
}

.navlink a:hover
{
    border-top: 2px solid #0065FC ;
    padding: 30px;
    color: #0065FC;
}

span 
{
    color: #0065FC;
    font-weight: 700;
}

/* Banniere Recherche*/
#recherche
{
    margin: 15px;
}

#localisation
{
    display: inline-block;
    height: 27px;
    width: 30px;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    line-height: 30px;
    padding-top: 10px;
}

i
{
    color: black;
}

#research
{
    display: flex;
    margin: 0px;
}

#maRecherche
{
    border: 1px solid #F2F2F2;
    margin: 0px;
    padding: 10px;
}

button
{
    background-color: #0065FC;
    color: white;
    border: 1px #0065FC solid;
    padding: 10px;
    margin: 0px;
    border-radius: 0px 10px 10px 0px;
}
#filtres
{
    display: flex;
    align-items: center;
}

#filtres ul
{
    display: flex;
    flex-wrap: wrap;
}

#filtres li
{
    margin-right: 5px;
    margin-left: 20px;
    padding-right: 15px;
    border: 1px solid #F2F2F2;
    border-left: 0px;
    border-radius: 50px 50px;
    font-weight: 700;
}

#filtres a:hover
{
    color:  #0065FC;
}

.icone_filtre
{
    padding: 15px;
    margin-right: 15px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #F2F2F2;
    border-radius: 50px 50px;
}

#recherche_info
{
    display: flex;
    align-items: center;
}

.fa-info
{
    display: inline-block;
    text-align: center;
    padding : 10px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    font-size: 10px;
    color: #0065FC;

}
#recherche_info p
{
    margin-left: 10px;
}

/*Première section Hébergements*/
#hotel
{
    display: flex;
    justify-content: center;
}
#hotel p
{
    margin-left: 20px;
}

#hotel h2 
{
    margin-left: 25px;
}

#booking img 
{
    object-fit : cover; 
    height: 90px;
    width: 190px; 
}
#booking
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 5px;
    margin: 15px;   
}

#reservation_1
{
    
    display: flex;
    border-radius: 20px;
    margin : 10px;
}

#partie_1
{
    display: flex;
    flex-direction: column;
}

#partie_2
{
    display: flex;
    flex-direction: column;
}

#partie_3
{
    display: flex;
    flex-direction: column;
}

.carte_centrale
{
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
}

.carte_centrale img
{
    border-radius: 20px 20px 0px 0px; 
}

#reservation_1 p
{
    margin: 6px;
    font-size: 15px;   
}

.etoiles_centrales
{
    margin-left: 5px;
}

/*Aside*/

#aside_logo
{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}


aside img
{
    object-fit : cover;
    height: 110px;
    width: 110px;   
    border-radius: 20px 0px 0px 20px;
}

aside
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin : 15px;
}

.carte_aside
{
    display: flex;
    border-radius: 20px 20px 20px 20px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);     
}

.carte_aside p
{
    margin: 0px;
}

.nuit
{
    font-weight: 100;
}

.aside_nom
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}
.etoiles_aside
{
    margin-left: 20px;
}
/*Deuxième section Activités*/
#activites
{
    margin: 40px;
}

#activities_bloc
{
    display: flex;
    justify-content: center;
}

#activites h2
{
    margin-left: -25px;
}

.long
{
    height: 440px;
}

.long img
{
    object-fit : cover; 
    height:400px;
    width: 300px;
    border-radius: 20px 20px 0px 0px;
}

.petit
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#pomegues
{
    height: 250px;
}

#pomegues img
{
    object-fit : cover; 
    height: 210px;
    width: 240px;
    border-radius: 20px 20px 0px 0px; 
}

#frioul
{
    height: 160px;
}

 #frioul img
 {
    object-fit : cover; 
    height: 120px;
    width: 240px;
    border-radius: 20px 20px 0px 0px;
 }

 #dame
{
    height: 180px;
}

 #dame img
 {
    object-fit : cover; 
    height: 140px;
    width: 240px;
    border-radius: 20px 20px 0px 0px;
 }

 #longchamp
{
    
    height: 230px;
}

#longchamp img
{
    object-fit : cover; 
    height: 190px;
    width: 240px;
    border-radius: 20px 20px 0px 0px;
}

.carte_activites
{
    margin: 15px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    border-radius: 20px;    
}

#activities_bloc p
{
    font-size: 15px;
    margin: 10px;
}


/* Footer*/
footer
{
    display: flex;
    justify-content: space-around;
    
}

footer h4
{
    font-weight: 700;
}

footer li
{
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 15px;
}

footer ul
{
    margin-left: 0px;
    padding-left: 0px;
}

/*#about
{
    margin-left: 150px;
}

#assistance
{
    margin-right: 150px;
}*/

/* Partie Responsive mobile*/
@media all and (max-width: 980px)
{
    #bloc_page
    {
        width: auto;
    }

    /*header*/
    header 
    {
        width: 100%;
    }
   
    .navlink 
    {
        width: 50%;
        margin-left: 0px;
        padding-left: 0px;
        box-sizing: border-box;
        border-bottom: 3px solid #F2F2F2;
    }
 
    nav ul 
    {
        width: 100%;
        flex-wrap: wrap-reverse;
    }

    .navlink a:active
    {
        color: #0065FC ;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding-bottom: 20px;
    }

    .navlink a:hover
    {
        color: #0065FC ;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding-bottom: 20px;
    }

    /* Section Recherche*/
   
   #filtres
   {
       flex-direction: column;
       align-items: flex-start;
   }

    #filtres li
    {
       padding: 0px;
       margin: 5px;
       padding-right: 15px;
      
    }

    #filtres ul
    {
        margin-left: 0px;
        padding-left: 0px;
    }

    /*Carte centrale*/
    #hotel
    {
        flex-direction: column-reverse;
    }

    #reservation_1
    {
        flex-direction: column;
    }

    #partie_1 img
    {
        object-fit : cover; 
        height: 100px;
        width: 300px;
    }

    #partie_2 img
    {
        object-fit : cover; 
        height: 100px;
        width: 300px;
    }

    #partie_3 img
    {
        object-fit : cover; 
        height: 100px;
        width: 300px;
    }

    .carte_centrale
    {
        width: 300px;
    }

    #booking
    {
        background-color: white;
    }

    /*Carte aside */
    aside 
    {
        width: 320px;
        border-radius: 0px;
    }
    .carte_aside
    {
        width: 300px;
    }

    /*Carte activités*/
    #activities_bloc
    {
        flex-direction: column;
    }

    #activities_bloc img
    {
        height: 120px;
        width: 300px;
        padding:0px;
        margin: 0px;
    }

    .carte_activites
    {
        height: 160px;
        width: 300px;
        padding: 0px;
    }

    #pomegues
    {
        height: 160px;
        width: 300px;
    }

    #dame
    {
        height: 160px;
        width: 300px;
    }

    #longchamp
    {
        height: 160px;
        width: 300px;
    }

    /*footer*/
    footer
    {
        flex-direction: column;
        padding: 30px;
        width: 320px;
    }
}