/* Body*/

#bloc_page
{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}
body, html
{
    font-family: 'Raleway', sans-serif;
    margin: 0;

}

.gris
{
    background-color:#F2F2F2;
    padding: 25px;
    box-sizing: border-box;
}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.etoile_grise
{
    color:#F2F2F2;
}

.etoile_bleue
{
    color: #0065FC;
}

/* Header*/
.logo
{
    position: absolute;
}

header
{
    position: relative;
    margin-top: 10px;
}

header img
{
    height: 50px;
}
nav
{
    width:100%;
}
nav ul
{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    
}

nav li
{
    padding: 20px; 
}

nav a
{
    font-weight: 400;
}

.navlink:hover
{
    border-top: 2px solid #0065FC ;
    color: #0065FC;
}

span 
{
    color: #0065FC;
    font-weight: 700;
}

/* Banniere Recherche*/

#localisation
{
    display: inline-block;
    padding: 11px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
}

i
{
    color: black;
}

#research
{
    display: flex;
    margin: 0px;
}

#maRecherche
{
    border: 1px solid #F2F2F2;
    margin: 0px;
    padding: 10px;
}

button
{
    background-color: #0065FC;
    color: white;
    border: 1px #0065FC solid;
    padding: 10px;
    margin: 0px;
    border-radius: 0px 10px 10px 0px;
}
#filtres
{
    display: flex;
    align-items: center;
}

#filtres ul
{
    display: flex;
    flex-wrap: wrap;
}

#filtres li
{
    margin-right: 5px;
    margin-left: 20px;
    padding-right: 15px;
    border: 1px solid #F2F2F2;
    border-left: 0px;
    border-radius: 50px 50px;
    font-weight: 700;
}

#filtres a:hover
{
    color:  #0065FC;
}

.icone_filtre
{
    padding: 15px;
    margin-right: 15px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #F2F2F2;
    border-radius: 50px 50px;
}

#recherche_info
{
    display: flex;
    align-items: center;
}

.fa-info
{
    display: inline-block;
    text-align: center;
    padding : 10px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    font-size: 10px;
    color: #0065FC;

}
#recherche_info p
{
    margin-left: 10px;
}

/*Première section Hébergements*/
#hotel
{
    display: flex;
    justify-content: space-between;
    
}

#booking img 
{
    object-fit : cover; 
    height: 90px;
    width: 100%; 
}
#booking
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width:65%;  
}

#reservation_1
{
    
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

#partie_1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
}

#partie_2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
}

#partie_3
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
}

.carte_centrale
{
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
}

.carte_centrale img
{
    border-radius: 20px 20px 0px 0px; 
}

#reservation_1 p
{
    margin: 6px;
    font-size: 15px;   
}

.etoiles_centrales
{
    margin-left: 5px;
}

/*Aside*/

#aside_logo
{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}


aside img
{
    object-fit : cover;
    height: 120px;
    width: 35%; 
    margin: 5px;  
    border-radius: 20px 0px 0px 20px;
}

aside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    width: 30%;
}

.carte_aside
{
    display: flex;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);     
}

.carte_aside p
{
    margin: 0px;
}

.aside_nom
{
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5px;
}

.nuit
{
    font-weight: 100;
}

/*Deuxième section Activités*/
#activites
{
    margin-bottom: 40px;
}

#activities_bloc
{
    display: flex;
    justify-content: space-between;
}

.long
{
    height: 440px;
    width:22%;
}

.long img
{
    height:400px;
}

.petit
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    Width: 22%;
}
#pomegues
{
    height: 250px;
}

#pomegues img
{
    height: 210px;
}

#frioul
{
    height: 160px;
}

#frioul img
{

    height: 120px;
}

#dame
{
    height: 180px;
}

#dame img
{
    height: 140px;
}

#longchamp
{
    height: 230px;
}

#longchamp img
{
    height: 190px;
}

.carte_activites
{
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    border-radius: 20px;    
}

#activities_bloc p
{
    font-size: 15px;
    margin: 10px;
}

.carte_activites img
{
    object-fit : cover;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

/* Footer*/
footer
{
    display: flex;
    justify-content: center;
    
}

footer h4
{
    font-weight: 700;
}

footer li
{
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 15px;
}

footer ul
{
    margin-left: 0px;
    padding-left: 0px;
}

.footer_container
{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    width:90%;
}

/* Partie Responsive mobile*/
@media all and (max-width: 699px)
{
    #bloc_page
    {
        width: auto;
    }

    /*header*/
    header 
    {
        width: 100%;
    }

    .navlink 
    {
        width: 50%;
        box-sizing: border-box;
        border-bottom: 3px solid #F2F2F2;
    }

    nav ul 
    {
        width: 100%;
        flex-wrap: wrap-reverse;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    .navlink:active
    {
        color: #0065FC ;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding-bottom: 20px;
    }

    .navlink:hover
    {
        color: #0065FC ;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding-bottom: 20px;
    }

    /* Section Recherche*/
    #recherche
    {
        margin: 30px;
    }
    #filtres
    {
        flex-direction: column;
        align-items: flex-start;
    }

    #filtres li
    {
        padding: 0px;
        margin: 5px;
        padding-right: 15px;
    }

    #filtres ul
    {
        margin-left: 0px;
        padding-left: 0px;
    }

    /*Carte centrale*/
    
    #hotel
    {
        flex-direction: column-reverse;
    }

    #booking
    {
        width: 100%;
    }
    
    #reservation_1
    {
        flex-direction: column;
    }

    #partie_1 img
    {
        object-fit : cover; 
        height: 100px;
        width: 100%;
    }

    #partie_2 img
    {
        object-fit : cover; 
        height: 100px;
        width: 100%;
    }

    #partie_3 img
    {
        object-fit : cover; 
        height: 100px;
        width: 100%;
    }

    .carte_centrale
    {
        width: 300px;
    }

    #booking
    {
        background-color: white;
    }

    /*Carte aside */
    aside 
    {
        width: 100%;
        border-radius: 0px;
    }
    .carte_aside
    {
        width: 100%;
        margin: 5px;
    }

    /*Carte activités*/

    #activities_bloc
    {
        flex-direction: column;
        align-items: center;
    }

    #activities_bloc img
    {
        height: 120px;
        width: 100%;
    }

    #activites h2
    {
        margin-left: 25px;  
    }

    .carte_activites
    {
        height: 160px;
        padding: 0px;
        margin-bottom: 15px;
    }

    .long
    {
        width: 85%;
    }

    .petit
    {
        width: 85%;
    }
    #pomegues
    {
        height: 160px;
    }

    #dame
    {
        height: 160px;
    }

    #longchamp
    {
        height: 160px;
    }

    /*footer*/
    .footer_container
    {
        flex-direction: column;
        padding: 30px;
        width: 100%;
    }
}

/* Partie Responsive Tablette*/
@media all and (min-width: 700px) and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }

    /*header*/
    header 
    {
        width: 100%;
    }

    .navlink 
    {
        width: 50%;
        margin-left: 0px;
        padding-left: 0px;
        box-sizing: border-box;
        border-bottom: 3px solid #F2F2F2;
    }

    nav ul 
    {
        width: 100%;
        flex-wrap: wrap-reverse;
        padding: 0px;
        text-align: center;
    }

    .navlink:active
    {
        color: #0065FC ;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding-bottom: 20px;
    }

    .navlink:hover
    {
        color: #0065FC ;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding-bottom: 20px;
    }

    /* Section Recherche*/
    #recherche
    {
        margin: 30px;
    }
    #filtres
   {
       flex-direction: column;
       align-items: flex-start;
   }

    #filtres li
    {
       padding: 0px;
       margin: 15px;
       padding-right: 15px;
    }

    #filtres ul
    {
        margin-left: 0px;
        padding-left: 0px;
    }

    /*Carte centrale*/
    #hotel
    {
        flex-direction: column-reverse;
    }

    #booking
    {
        width: 100%;
    }

    #partie_1
    {
        width: 30%;
    }

    #partie_2
    {
        width: 30%;
    }

    #partie_3
    {
        width: 30%;
    }
    #partie_1 img
    {
        object-fit : cover; 
        height:150px;
        width: 100%;
    }

    #partie_2 img
    {
        object-fit : cover; 
        height: 150px;
        width: 100%;
    }

    #partie_3 img
    {
        object-fit : cover; 
        height: 150px;
        width: 100%;
    }

    .carte_centrale
    {
       width: 100%;
       margin: 5px;
    }

    #reservation_1 p
    {
        font-size: 18px;
    }

    #reservation_1
    {
        justify-content: space-around;
    }

    #booking
    {
        background-color: white;
    }

    /*Carte aside */
    aside 
    {
        width: 100%;
        border-radius: 0px;
    }

    .carte_aside
    {
        width: 100%;
        margin: 10px;
    }

    .carte_aside img
    {
        width: 100%;
        height: 150px;
    }

    .carte_aside p
    {
        font-size: 20px;
    }

    .aside_nom
    {
        width: 60%;
    }
    /*Carte activités*/
    #activities_bloc
    {
        flex-direction: row;
        flex-wrap: wrap ;
        justify-content: center;

    }

    #activities_bloc img
    {
        height: 200px;
        width: 100%;
        padding:0px;
        margin: 0px;
    }
    
    #activities_bloc p
    {
        font-size: 20px;
    }

    #activites h2
    {
        padding-left: 30px;
    }

    .carte_activites
    {
        height: 250px;
        width: 100%;
    }

    .petit
    {
        width: 45%;
        
    }

    .long
    {
        width: 45%;
    }
    #frioul
    {
        height: 250px;
    }
    #pomegues
    {   
        height: 250px;
    }

    #dame
    {
        height: 250px;
    }

    #longchamp
    {
        height: 250px;
    }

    #activities_bloc div:nth-child(1)
    {
        order: 1;
        margin: 10px;
    }

    #activities_bloc div:nth-child(2)
    {
        order: 3;
        margin: 10px;
    }

    #activities_bloc div:nth-child(3)
    {
        order: 2;
        margin: 10px;
    }

    #activities_bloc div:nth-child(4)
    {
        order: 4;
        margin: 10px;
    }

    /*footer*/
    .footer_container
    {
        width: 100%;
    }
}