/* Définition de la nouvelle police*/
/*@font-face {
    font-family: 'ralewaythin';
    src: url('police/raleway-variablefont_wght-webfont.eot');
    src: url('police/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('police/raleway-variablefont_wght-webfont.woff') format('woff'),
         url('police/raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('police/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

/* Body*/
#bloc_page
{
    width: 1100px;
    margin: auto;
}
body
{
    font-family: 'Raleway', sans-serif;
}

.gris
{
    background-color:#F2F2F2;
}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.etoile_grise
{
    color:#F2F2F2;
}

.etoile_bleue
{
    color: #0065FC;
}

/* Header*/
#logo
{
    height:20px;
}

#titre_principal
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul
{
    display: flex;
    justify-content: flex-end;
}
nav li
{
    padding: 20px;
    
}

nav a:hover
{
    color:#0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 20px;
}

span
{
    color: #0065FC;
}

/* Banniere Recherche*/
#localisation
{
    display: inline-block;
    height: 27px;
    width: 30px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    line-height: 30px;
    padding-top: 10px;
}

i
{
    color: black;
}

#research
{
    display: flex;
    margin: 0px;
}
#maRecherche
{
    border: 1px solid #F2F2F2;
    margin: 0px;
    padding: 10px;
}
button
{
    background-color: #0065FC;
    color: white;
    border: 1px #0065FC solid;
    padding: 10px;
    margin: 0px;
    border-radius: 0px 10px 10px 0px;
}
#filtres
{
    display: flex;
}

#filtres ul
{
    display: flex;
}

ul i
{
    margin: 0px;
}

#filtres li
{
    margin-right: 40px;
    margin-left: -40px;
    padding: 10px;
    padding-left: 55px;
    border: 1px solid #F2F2F2;
    border-left: 0px;
    border-radius: 50px 50px;
    font-weight: 700;
}

.fa-money-bill-wave
{
    
    padding: 10px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #F2F2F2;
    border-radius: 50px 50px;
    
}
.fa-child
{
    padding: 10px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #F2F2F2;
    border-radius: 50px 50px;
    
}
.fa-heart
{
    padding: 10px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #F2F2F2;
    border-radius: 50px 50px;
   
}
.fa-dog
{
    padding: 10px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #F2F2F2;
    border-radius: 50px 50px;
}
/*Première section Hébergements*/
#hotel
{
    display: flex;
    justify-content: center;
}

#booking img 
{
    object-fit : cover; 
    height: 100px;
    width: 200px; 
}
#booking
{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    margin : 10px;
}

#reservation_1
{
    
    display: flex;
    border-radius: 10px;
    margin : 10px;
}
.carte_centrale
{
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
}
#centrale_mer
{
    margin-top: 10px;
}

#centrale_panier
{ 
    margin-top: 10px;
}
#centrale_amina
{ 
    margin-top: 10px;
}
.carte_centrale img
{
    border-radius: 10px 10px 0px 0px; 
}

#reservation_1 p
{
    margin: 0px;
    font-size: 15px;   
}
section h2 
{
    margin-left: 20px;
}
/*Aside*/

aside img
{
    margin-right: 5px;
    object-fit : cover;
    height: 95px;
    width: 95px;   
    border-radius: 10px 0px 0px 10px;
}
aside
{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    margin : 10px;
}

.carte_aside
{
    display: flex;
    border-radius: 10px 10px 10px 10px;
    margin: 10px;
    padding: 5px;
    background-color: white;     
}

.carte_aside p
{
    margin: 0px;
}

.nuit
{
    font-weight: 100;
}
.aside_nom
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}
/*Deuxième section Activités*/
#activities
{
    display: flex;
    justify-content: center;

}
#activities_bloc
{
    display: flex;
    flex-direction: column;
    margin: 30px;
    
}
.long img
{
    object-fit : cover; 
    height:350px;
    width: 250px;
    border-radius: 5px 5px 0px 0px;
  
}

#pomegues img
{
    object-fit : cover; 
    height: 210px;
    width: 240px;
    border-radius: 5px 5px 0px 0px; 
}
 #frioul img
 {
    object-fit : cover; 
    height: 120px;
    width: 240px;
    border-radius: 5px 5px 0px 0px;
 }

 #dame img
 {
    object-fit : cover; 
    height: 140px;
    width: 240px;
    border-radius: 5px 5px 0px 0px;
 }

#longchamp img
{
    object-fit : cover; 
    height: 190px;
    width: 240px;
    border-radius: 5px 5px 0px 0px;
}
#longchamp
{
    margin-top: 30px;
}

#frioul
{
    margin-top: 30px;
}
.carte_activites
{
    margin: 10px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    border-radius: 10px;    
}

#activities p
{
    font-size: 15px;
    margin: 10px;
}


/* Footer*/
footer
{
    display: flex;
    justify-content: space-around; 
    margin: auto;
}

h5
{
    font-weight: 700;
}
footer li
{
    padding-bottom: 2px;
    font-weight: 300;
}